.btn {
	display: inline-block;
	background-image: -moz-linear-gradient(top, #4561aa, #364d8f);
	background-image: -ms-linear-gradient(top, #4561aa, #364d8f);
	background-image: -o-linear-gradient(top, #4561aa, #364d8f);
	background-image: -webkit-linear-gradient(top, #4561aa, #364d8f);
	background-image: linear-gradient(top, #4561aa, #364d8f);
	border-radius: .5em;
	border: solid #314685 1px;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 0.9em;
	height: 32px;
	outline: none;
	width: 175px;
	cursor: pointer;
	line-height: normal;
}

.btn:hover {
	background-image:-webkit-linear-gradient(bottom, #4561aa, #364d8f);
}

.btn:active {
	box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
